@model HRMSmvcCRUD.Models.Employee

@{
    ViewBag.Title = "DisplayDetails";
    
}

<h2>DisplayDetails</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ecode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ecode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deptid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deptid)
        </dd>

        <dt>
           <label>Bonus:</label>
        </dt>

        <dd>
            <label>@ViewData["bonus"].ToString()</label>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
