@model IEnumerable<HRMSmvcCRUD.Models.Employee>
    @using HRMSmvcCRUD.Models

@{
    ViewBag.Title = "Index";
    var emp = ViewBag.emp;
    var emp2 = (Employee)ViewData["emp2"];
}

<h2>Index</h2>
<h3>Message : @ViewBag.Msg</h3>
<h3>Ecode : @emp2.Ecode | Ename :@emp2.Ename | Salary :@emp2.Salary | DeptID : @emp2.Deptid</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ecode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deptid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ecode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deptid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Ecode   }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Ecode  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Ecode  })
        </td>
    </tr>
}

</table>
